<div class="table-responsive mb-15 border-1">
  <table class="table">
    <thead>
      <tr>
        <th class="product-thumbnail">Cover</th>
        <th class="product-name">Product</th>
        <th class="product-price">Price</th>
        <th class="product-quantity">Quantity</th>
        <th class="product-subtotal">Total</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>


<h2>Total compra</h2>
<table class="table">
  <tbody>
  </tbody>
</table>
<div class="text-center">
  <button type="submit" class="btn btn-primary" name="checkout">Continuar</button>
</div>

